<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/numerology.css">
    <title>Нумерология</title>
</head>

<body>
    <header>
        <img src="../static/img/medium-star2.svg" id="star1">
        <img src="../static/img/medium-star.svg" id="star2">
        <img src="../static/img/small-star.svg" id="star3">
        <p>Ваше число жизненного пути</p>
        <div class="circle">
            <p class="number">
                {{number}}
            </p>
        </div>
    </header>

    <main>
        <p>
            {{first_paragraph}}
        </p>
        <br><br>
        <p>
            {{second_paragraph}}
        </p>
    </main>
</body>

</html>