<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/tarot.css">
    <title>Таро</title>
</head>

<body>
    <img src="../static/img/cards.png" id="deck_of_cards">

    <div class="tarot">
        <img src="{{ card_image_1 }}" id="card1" class="card">
        <img src="{{ card_image_2 }}" id="card2" class="card">
        <img src="{{ card_image_3 }}" id="card3" class="card">
        <h1>{{ card_name_1 }}</h1>
        <h1>{{ card_name_2 }}</h1>
        <h1>{{ card_name_3 }}</h1>
        <p>{{ card_interpretation_1 }}</p>
        <p>{{ card_interpretation_2 }}</p>
        <p>{{ card_interpretation_3 }} </p>
    </div>

    <script src="../static/js/tarot.js"></script>

</body>

</html>
