<!DOCTYPE html>
<html>
<head>
    <title>Web Page</title>
</head>
<body>
    <h1>Web Page</h1>
    <form action="/horoscope" method="get">
        <label for="birthdate">Birthdate:</label>
        <input type="date" name="birthdate">
        <input type="submit" value="Horoscope">
    </form>
    <form action="/zodiac_sign" method="get">
        <input type="submit" value="Zodiac Sign">
    </form>
    <form action="/planets" method="get">
        <input type="submit" value="Planets">
    </form>
    <form action="/soul" method="get">
        <input type="submit" value="Soul Formula">
    </form>
    <form action="/taro" method="get">
        <input type="submit" value="Tarot">
    </form>
</body>
</html>
